<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul class="crumb-buttons" th:fragment="crumb-buttons">
			<li><a href="/" title=""><i class="icon-tasks"></i><span>所有课程</span></a></li>
			<li><a href="course_student" title=""><i class="icon-list"></i><span>我的课程</span></a></li>
			<li><a href="solutionset_student" title=""><i class="icon-list"></i><span>我的答卷</span></a></li>
			<li><a href="test_student" title=""><i class="icon-tasks"></i><span>我的考试</span></a></li>
			<li><a href="problem_student" title=""><i class="icon-list"></i><span>已刷题目</span></a></li>
			<li class="dropdown"><a href="javascript:void(0);" title="" data-toggle="dropdown"><i class="icon-tasks"></i>题目列表<i class="icon-angle-down left-padding"></i></a>
				<ul class="dropdown-menu pull-right">
				<li><a href="simple_list_student" title="">单选题</a></li>
				<li><a href="multiple_list_student" title="">多选题</a></li>
				<li><a href="judgement_list_student" title="">判断题</a></li>
				<li><a href="blank_list_student" title="">填空题</a></li>
				<li><a href="program_list_student" title="">编程题</a></li>
				</ul>
			</li>
		</ul>
</body>
</html>