<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>LearnEase</title>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- jQuery UI -->
	<!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
	<![endif]-->

	<!-- Theme -->
	<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	
	<link rel="stylesheet" href="/extensions/zTree_v3/css/demo.css" type="text/css">
	<link rel="stylesheet" href="extensions/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

	<!--=== JavaScript ===-->

	<script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!-- Smartphone Touch Events -->
	<script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>

	<!-- General -->
	<script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
	<script type="text/javascript" src="plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
	<script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

	<!-- Page specific plugins -->
	<!-- Charts -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.growraf.min.js"></script>

	<script type="text/javascript" src="plugins/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="plugins/blockui/jquery.blockUI.min.js"></script>

	<!-- App -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins.js"></script>
	<script type="text/javascript" src="assets/js/plugins.form-components.js"></script>
	
	<!-- ZTree -->
	<script type="text/javascript" src="extensions/zTree_v3/js/jquery.ztree.all.js"></script>

	<script>
	$(document).ready(function(){
		"use strict";

		App.init(); // Init layout and core plugins
		Plugins.init(); // Init all plugins
		FormComponents.init(); // Init all form-specific plugins
	});
	</script>

	<!-- Demo JS -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	
	<style type="text/css">
		strong {font-weight: 700;}
		a {text-decoration: none;}
	</style>
</head>

<body>
	<header class="header navbar navbar-fixed-top" role="banner" th:include="/common/common_navigation :: manage-common-navidation">
	</header>
	<!-- /.header -->

	<div id="container">
		<!-- Sidebar -->
		<div id="sidebar" class="sidebar-fixed" th:include="/common/manage_common_sidebar :: manage_common_siderbar">
	    </div>
	    <!-- /Sidebar -->
	    
		<div id="content">
			<div class="container">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<div class="content_wrap">
						<div class="zpermission_manageBackground left">
							<ul id="permission_manage" class="ztree"></ul>
						</div>
					</div>
					<div id="add_permission" title="添加权限" style="display:none;">
					    <form>
						    <fieldset>
						      <label for="name">权限名</label>
						      <input type="text" name="name" id="add_name" class="text ui-widget-content ui-corner-all"><br/>
						      <label for="email">权限代码</label>
						      <input type="text" name="code" id="add_code" class="text ui-widget-content ui-corner-all"><br/>
						      <label for="text">目录</label>
						      <select id="add_isCatalog">
								  <option value ="true">true</option>
								  <option value ="false">false</option>
								</select><br/>
						      <label for="email">菜单栏显示</label>
						      <select id="add_isMenuShow">
								  <option value ="true">true</option>
								  <option value ="false">false</option>
								</select><br/>
						    </fieldset>
						</form>
					</div>
					<div id="update_permission" title="修改权限" style="display:none;">
					    <form>
						    <fieldset>
						      <label for="name">权限名</label>
						      <input type="text" name="name" id="up_name" class="text ui-widget-content ui-corner-all"><br/>
						      <label for="email">权限代码</label>
						      <input type="text" name="code" id="up_code" class="text ui-widget-content ui-corner-all"><br/>
						      <label for="text">目录</label>
						      <select id="up_isCatalog">
								  <option value ="true">true</option>
								  <option value ="false">false</option>
								</select><br/>
						      <label for="text">菜单栏显示</label>
						      <select id="up_isMenuShow">
								  <option value ="true">true</option>
								  <option value ="false">false</option>
								</select><br/>
						    </fieldset>
						</form>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</div>
	</div>
	<script type="text/javascript">
		var setting = {
			async: {
				enable: true,
				url:"ztree_data",
				autoParam:["id","name", "level"],
				otherParam:{"otherParam":"zTreeAsync"},
				type: "get"
			},
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			edit: {
				enable: true,
				editNameSelectAll: true,
				showRemoveBtn: false,
				showRenameBtn: false,
				removeTitle: "remove",
				renameTitle: "rename"
			},
			view: {
				addHoverDom: addHoverDom,
				removeHoverDom: removeHoverDom,
				selectedMulti: false
			},
			callback: {
				beforeRemove: beforeRemove,
				onRemove: onRemove
			}
		};
		
		
		function beforeRemove(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("permission_manage");
			zTree.selectNode(treeNode);
			return confirm("确认删除'+treeNode.name+'节点？");
		}
		function onRemove(e, treeId, treeNode) {
			
		}

		$(document).ready(function(){
			$.fn.zTree.init($("#permission_manage"), setting);
		});
		
		//用于当鼠标移动到节点上时，显示用户自定义控件
		function addHoverDom(treeId, treeNode) {
			var aObj = $("#" + treeNode.tId + "_a");
			if ($(".diyImg_add_"+treeNode.id).length>0) return;
			if ($(".diyImg_rename_"+treeNode.id).length>0) return;
			if ($(".diyImg_delete_"+treeNode.id).length>0) return;
			
			var addStr = "<img title='add' class='diyImg_add_"+treeNode.id+
				" button' src='/extensions/zTree_v3/css/zTreeStyle/add_1.png' onfocus='this.blur();' style='margin-bottom:-4px;'/>";
			aObj.append(addStr);
			
			var renameStr = "<img title='rename' class='diyImg_rename_"+treeNode.id+
				" button' src='/extensions/zTree_v3/css/zTreeStyle/rename_1.png' onfocus='this.blur();' style='margin-bottom:-4px;'/>";
			aObj.append(renameStr);
		
			var deleteStr = "<img class='diyImg_delete_"+treeNode.id+
				" button' src='/extensions/zTree_v3/css/zTreeStyle/delete_1.png' onfocus='this.blur();' style='margin-bottom:-4px;'/>";    
			aObj.append(deleteStr);
			
			//点击事件--弹出层
			//save
 			var add_btn = $(".diyImg_add_"+treeNode.id);
			if (add_btn) add_btn.bind("click", function(){
				var zTree = $.fn.zTree.getZTreeObj("permission_manage");
				var add_dialog = $( "#add_permission" ).dialog({
				      height: 300,
				      width: 350,
				      buttons: {
				    	  "save": function() {
							var name = $("#add_name").val();
							var code = $("#add_code").val();
							var isCatalog = $('#add_isCatalog option:selected').val() == "true" ? true : false;
							var isMenuShow = $('#add_isMenuShow option:selected').val() == "true" ? true : false;
							var params = {
								"name": name,
								"code": code,
								"isCatalog": isCatalog,
								"isMenuShow": isMenuShow,
								"pid": treeNode.id
							};
							$.post("permission_add",params,function(result){
								if(result.success == "true" || result.success == true) {
									add_dialog.dialog( "close" );
									zTree.addNodes(treeNode, {"id":result.msg, "name":name, "isParent":isCatalog});
								}else{
									alert(result.msg);
								}
								
							},"json");
				    	  },
				          Cancel: function() {
				        	  add_dialog.dialog( "close" );
				          }
				        },
				});
			});
			
			//rename
			var rename_btn = $(".diyImg_rename_"+treeNode.id);
			if (rename_btn) rename_btn.bind("click", function(){
				alert(JSON.stringify(treeNode));
				var zTree = $.fn.zTree.getZTreeObj("permission_manage");
				var add_dialog = $( "#update_permission" ).dialog({
				      height: 300,
				      width: 350,
				      buttons: {
				    	  "update": function() {
							var name = $("#up_name").val();
							var code = $("#up_code").val();
							var isCatalog = $('#up_isCatalog option:selected').val() == "true" ? true : false;
							var isMenuShow = $('#up_isMenuShow option:selected').val() == "true" ? true : false;
							var params = {
								"id": treeNode.id,
								"name": name,
								"code": code,
								"isCatalog": isCatalog,
								"isMenuShow": isMenuShow,
								"pid": treeNode.id
							};
							$.post("permission_up",params,function(result){
								if(result.success == "true" || result.success == true) {
									add_dialog.dialog( "close" );
									zTree.updateNodes(treeNode, {"id":result.msg.id, "name":result.msg.name, "isParent":result.msg.isCatalog});
								}else{
									alert(result.msg);
								}
								
							},"json");
				    	  },
				          Cancel: function() {
				        	  add_dialog.dialog( "close" );
				          }
				        },
				});
			});
			
			//delete
			var delete_btn = $(".diyImg_delete_"+treeNode.id);
			if (delete_btn) delete_btn.bind("click", function(){
				var zTree = $.fn.zTree.getZTreeObj("permission_manage");
				if(confirm("确认删除'+treeNode.name+'节点？")) {
					$.post("permission_del",{"id":treeNode.id},function(result){
						if(result.success == "true" || result.success == true) {
							//true 表示执行此方法时触发 beforeRemove & onRemove 事件回调函数
							zTree.removeNode(treeNode, false);
						}else{
							alert(result.msg);
						}
						
					},"json");
				}
				
			});
		};
		function removeHoverDom(treeId, treeNode) {
			$(".diyImg_add_"+treeNode.id).unbind().remove();
			$(".diyImg_rename_"+treeNode.id).unbind().remove();
			$(".diyImg_delete_"+treeNode.id).unbind().remove();
		};

		
		function showRemoveBtn(treeId, treeNode) {
			return !treeNode.isFirstNode;
		}
		
		function showRenameBtn(treeId, treeNode) {
			return !treeNode.isLastNode;
		}
		
	</script>
</body>
</html>