<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>LearnEase</title>

    <!--=== CSS ===-->

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery UI -->
    <!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
    <![endif]-->

    <!-- Theme -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
    
    <link rel="stylesheet" href="extensions/BootstrapTable/dist/bootstrap-table.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->

    <!--[if IE 8]>
    <link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->

	<style>
		.show {display:"block";}
		.hide {display:"none";}
	</style>

    <!--=== JavaScript ===-->
	<!-- <script type="text/javascript" src="extensions/jquery-3.0.0.min.js"></script> -->
    <script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="assets/js/libs/html5shiv.js"></script>
    <![endif]-->

    <!-- Smartphone Touch Events -->
    <script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <!-- <script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script> -->
    <script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>

    <!-- General -->
    <script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
    <script type="text/javascript" src="plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
    <script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

    <!-- Page specific plugins -->
    <!-- Charts -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.growraf.min.js"></script>
    <script type="text/javascript" src="plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>

    <!-- Noty -->
    <script type="text/javascript" src="plugins/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="plugins/noty/layouts/top.js"></script>
    <script type="text/javascript" src="plugins/noty/themes/default.js"></script>

    <!-- App -->
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/plugins.form-components.js"></script>
    
    <!-- BootstrapTable -->
    <script type="text/javascript" src="extensions/BootstrapTable/dist/bootstrap-table.min.js"></script>

    <script>
        $(document).ready(function(){
            "use strict";

            App.init(); // Init layout and core plugins
            Plugins.init(); // Init all plugins
            FormComponents.init(); // Init all form-specific plugins
        });
    </script>

    <!-- Demo JS -->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/demo/pages_calendar.js"></script>
    
    <script>
		$(document).ready(function() {
			//单选题列表显示
			var questionsimpleTable = $("#questionSimple_table");
			questionsimpleTable.bootstrapTable({
				url: "/simple/own",
				method: "get",
				sortOrder: 'desc',
				dataType:'json',
				contentType: "application/json",
				queryParamsType: "",
				classes: 'table table-hover table-no-bordered',
				sidePagination: "server",
				striped: true,   //是否显示行间隔色
				cachae: false,
				pagination: true,
				pageNumber:1,
	            pageSize: 10,
	            pageList: [25, 35, 50],
	            showRefresh: true,
	            queryParams: function(params) {
			    	return params;
			    },
			    columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'shortName',
			        title: '主题',
			        align: 'center'
			    },{
			        field: 'difficulty',
			        title: '难度',
			        align: 'center'
			    },{
			        field: 'createTime',
			        title: '提交时间',
			        align: 'center',
			        //sortable: true
			    },{
			        field: 'labels',
			        title: '标签',
			        align: 'center'
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'center',
			        events: {
			        	'click .info': function (e, value, row, index) {
			        		window.location.href="/simple_up_html?id="+row.id;
				        },
				        'click .remove': function (e, value, row, index) {
				        	if(!confirm("确定删除?")) {
				        		return ;
				        	}
				        	$.post("/simple/delete", {"id":row.id}, function(result) {
				        		if(result.success == true || result.success == "true") {
				        			questionsimpleTable.bootstrapTable('remove', {
						                field: 'id',
						                values: [row.id]
						            });
				        		}else{
				        			alert(result.msg);
				        		}
				        	}, "json");
				        }
			        },
			        formatter: operateFormatter_simple
			    }]
			});
			function operateFormatter_simple(value, row, index) {
		        return [
		            '<a class="info" href="javascript:void(0)" title="Info">',
		            '<i class="glyphicon glyphicon-info-sign"></i>',
		            '</a> ',
		            '<a class="remove" href="javascript:void(0)" title="Remove">',
		            '<i class="glyphicon glyphicon-remove"></i>',
		            '</a>'
		        ].join('');
			}
			
			//多选题列表显示
			var questionmultipleTable = $("#questionMultiple_table");
			questionmultipleTable.bootstrapTable({
				url: "/multiple/own",
				method:'get',
				sortOrder: 'desc',
			    dataType:'json',
			    contentType: "application/json",
			    striped: true,
			    classes: 'table table-hover table-no-bordered',
			    cache: false,
			    queryParams: function(params) {
			    	return params;
			    },
			    queryParamsType:"",
			    pagination:true,
			    sidePagination: "server",
			    pageNumber:1,
	            pageSize: 10,
	           	pageList: [25, 35, 50],
	           	showRefresh: true,
				columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'shortName',
			        title: '主题',
			        align: 'center'
			    },{
			        field: 'difficulty',
			        title: '难度',
			        align: 'center'
			    },{
			        field: 'createTime',
			        title: '提交时间',
			        align: 'center',
			        //sortable: true
			    },{
			        field: 'labels',
			        title: '标签',
			        align: 'center'
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'center',
			        events: {
			        	'click .info': function (e, value, row, index) {
			        		window.location.href="multiple_up_html?id="+row.id;
				        },
				        'click .remove': function (e, value, row, index) {
				        	if(!confirm("确定删除?")) {
				        		return ;
				        	}
				        	$.post("/multiple/delete", {"id":row.id}, function(result) {
				        		if(result.success == true || result.success == "true") {
				        			questionmultipleTable.bootstrapTable('remove', {
						                field: 'id',
						                values: [row.id]
						            });
				        		}else{
				        			if (result.status == 404) {
				        				alert("没有权限");
				        			}else{
				        				alert("error");
				        			}
				        		}
				        	}, "json");
				        }
			        },
			        formatter: operateFormatter_multiple
			    }]
			});
			function operateFormatter_multiple(value, row, index) {
		        return [
		            '<a class="info" href="javascript:void(0)" title="Info">',
		            '<i class="glyphicon glyphicon-info-sign"></i>',
		            '</a>  ',
		            '<a class="remove" href="javascript:void(0)" title="Remove">',
		            '<i class="glyphicon glyphicon-remove"></i>',
		            '</a>'
		        ].join('');       //数组转成字符串
		    }
			
			//填空题列表显示
			var questionBlankTable = $("#questionFillBlank_table");
			questionBlankTable.bootstrapTable({
				url: "/blank/own",
				method:'get',
				sortOrder: 'desc',
			    dataType:'json',
			    contentType: "application/json",
			    striped: true,   //是否显示行间隔色
			    singleSelect: false,
			    cache: false,
			    search: false,        //查找输入框
			    queryParams: function(params) {
			    	return params;
			    },
			    queryParamsType: "",
			    classes: 'table table-hover table-no-bordered',
			    showColumns: false,      //True to show the columns drop down list
			    showRefresh: true,    //True to show the refresh button
			    showPaginationSwitch: false,
			    pagination:true,
			    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
			    pageNumber:1,                       //初始化加载第一页，默认第一页
	            pageSize: 10,                       //每页的记录行数（*）
	           	pageList: [25, 35, 50],        //可供选择的每页的行数（*）
				columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'shortName',
			        title: '主题',
			        align: 'center'
			    },{
			        field: 'difficulty',
			        title: '难度',
			        align: 'center'
			    },{
			        field: 'createTime',
			        title: '提交时间',
			        align: 'center',
			        //sortable: true
			    },{
			        field: 'labels',
			        title: '标签',
			        align: 'center'
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'center',
			        events: {
			        	'click .info': function (e, value, row, index) {
				            //alert('You click like action, row: ' + JSON.stringify(row));
			        		window.location.href="blank_up_html?id="+row.id;
				        },
				        'click .remove': function (e, value, row, index) {
				        	if(!confirm("确定删除?")) {
				        		return ;
				        	}
				        	$.post("/blank/delete", {"id":row.id}, function(result) {
				        		if(result.success == true || result.success == "true") {
				        			questionblankTable.bootstrapTable('remove', {
						                field: 'id',
						                values: [row.id]
						            });
				        		}else{
				        			alert(result.msg);
				        		}
				        	}, "json");
				        }
			        },
			        formatter: operateFormatter_blank
			    }]
			});
			function operateFormatter_blank(value, row, index) {
		        return [
		            '<a class="info" href="javascript:void(0)" title="Info">',
		            '<i class="glyphicon glyphicon-info-sign"></i>',
		            '</a>  ',
		            '<a class="remove" href="javascript:void(0)" title="Remove">',
		            '<i class="glyphicon glyphicon-remove"></i>',
		            '</a>'
		        ].join('');       //数组转成字符串
		    }
			
			//判断题列表显示
			var questionJudgementTable = $("#questionJudgement_table");
			questionJudgementTable.bootstrapTable({
				url: "/judgement/own",
				method:'get',
				sortOrder: 'desc',
			    dataType:'json',
			    contentType: "application/json",
			    striped: true,   //是否显示行间隔色
			    singleSelect: false,
			    cache: false,
			    search: false,        //查找输入框
			    queryParams: function(params) {
			    	return params;
			    },
			    queryParamsType: "",
			    classes: 'table table-hover table-no-bordered',
			    showColumns: false,      //True to show the columns drop down list
			    showRefresh: true,    //True to show the refresh button
			    showPaginationSwitch: false,
			    pagination:true,
			    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
			    pageNumber:1,                       //初始化加载第一页，默认第一页
	            pageSize: 10,                       //每页的记录行数（*）
	           	pageList: [25, 35, 50],        //可供选择的每页的行数（*）
				columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'shortName',
			        title: '主题',
			        align: 'center'
			    },{
			        field: 'difficulty',
			        title: '难度',
			        align: 'center'
			    },{
			        field: 'createTime',
			        title: '提交时间',
			        align: 'center',
			        //sortable: true
			    },{
			        field: 'labels',
			        title: '标签',
			        align: 'center'
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'center',
			        events: {
			        	'click .info': function (e, value, row, index) {
				            //alert('You click like action, row: ' + JSON.stringify(row));
			        		window.location.href="/judgement_up_html?id="+row.id;
				        },
				        'click .remove': function (e, value, row, index) {
				        	if(!confirm("确定删除?")) {
				        		return ;
				        	}
				        	$.post("/judgement/delete", {"id":row.id}, function(result) {
				        		if(result.success == true || result.success == "true") {
				        			questionjudgementTable.bootstrapTable('remove', {
						                field: 'id',
						                values: [row.id]
						            });
				        		}else{
				        			alert(result.msg);
				        		}
				        	}, "json");
				        }
			        },
			        formatter: operateFormatter_judgement
			    }]
			});
			function operateFormatter_judgement(value, row, index) {
		        return [
		            '<a class="info" href="javascript:void(0)" title="Info">',
		            '<i class="glyphicon glyphicon-info-sign"></i>',
		            '</a>  ',
		            '<a class="remove" href="javascript:void(0)" title="Remove">',
		            '<i class="glyphicon glyphicon-remove"></i>',
		            '</a>'
		        ].join('');       //数组转成字符串
		    }
			
			//编程题列表显示
			var questionrogramTable = $("#questionProgram_table");
			questionrogramTable.bootstrapTable({
				url: "/program/own",
				method:'get',
				sortOrder: 'desc',
			    dataType:'json',
			    contentType: "application/json",
			    striped: true,   //是否显示行间隔色
			    singleSelect: false,
			    cache: false,
			    search: false,        //查找输入框
			    queryParams: function(params) {
			    	return params;
			    },
			    queryParamsType: "",
			    classes: 'table table-hover table-no-bordered',
			    showColumns: false,      //True to show the columns drop down list
			    showRefresh: true,    //True to show the refresh button
			    showPaginationSwitch: false,
			    pagination:true,
			    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
			    pageNumber:1,                       //初始化加载第一页，默认第一页
	            pageSize: 10,                       //每页的记录行数（*）
	           	pageList: [25, 35, 50],        //可供选择的每页的行数（*）
				columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'shortName',
			        title: '主题',
			        align: 'center'
			    },{
			        field: 'difficulty',
			        title: '难度',
			        align: 'center'
			    },{
			        field: 'createTime',
			        title: '提交时间',
			        align: 'center',
			        //sortable: true
			    },{
			        field: 'labels',
			        title: '标签',
			        align: 'center'
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'center',
			        events: {
			        	'click .info': function (e, value, row, index) {
				            //alert('You click like action, row: ' + JSON.stringify(row));
			        		window.location.href="program_up_html?id="+row.id;
				        },
				        'click .remove': function (e, value, row, index) {
				        	if(!confirm("确定删除?")) {
				        		return ;
				        	}
				        	$.post("/program/delete", {"id":row.id}, function(result) {
				        		if(result.success == true || result.success == "true") {
				        			questionrogramTable.bootstrapTable('remove', {
						                field: 'id',
						                values: [row.id]
						            });
				        		}else{
				        			alert(result.msg);
				        		}
				        	}, "json");
				        }
			        },
			        formatter: operateFormatter_program
			    }]
			});
			function operateFormatter_program(value, row, index) {
		        return [
		            '<a class="info" href="javascript:void(0)" title="Info">',
		            '<i class="glyphicon glyphicon-info-sign"></i>',
		            '</a> ',
		            '<a class="remove" href="javascript:void(0)" title="Remove">',
		            '<i class="glyphicon glyphicon-remove"></i>',
		            '</a>'
		        ].join('');
		    }
		});
	</script>
</head>

<body>
	<header class="header navbar navbar-fixed-top" role="banner" th:include="/common/common_navigation :: teacher-common-navidation">
	</header> <!-- /.header -->

	<div id="container">
		<div id="sidebar" class="sidebar-fixed" th:include="/common/teacher_common_sidebar :: teacher_common_siderbar">
		</div><!-- /Sidebar -->
		
		<div id="content">
		    <div class="container">
		        <!-- Breadcrumbs line -->
		        <div class="crumbs">
		            <ul id="breadcrumbs" class="breadcrumb">
		                <li>
		                    <i class="icon-home"></i>
		                    <a href="javascript:void(0);">教师中心</a>
		                </li>
		                <li class="current">
		                    <a href="#" title="">题目管理</a>
		                </li>
		                <li class="current">
		                    <a href="#" title="">我的题目</a>
		                </li>
		            </ul>
		        </div>
		        <!-- /Breadcrumbs line -->
		        
		        <!--=== Page Content ===-->
				<div class="row">
					<div class="col-md-12">
						<!-- Tabs-->
						<div class="tabbable tabbable-custom tabbable-full-width">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_questionsimple" data-toggle="tab">单选题</a></li>
								<li><a href="#tab_questionmultiple" data-toggle="tab">多选题</a></li>
								<li><a href="#tab_questionblank" data-toggle="tab">填空题</a></li>
								<li><a href="#tab_questionjudgement" data-toggle="tab">判断题</a></li>
								<li><a href="#tab_questionprogram" data-toggle="tab">编程题</a></li>
							</ul>
							<div class="tab-content row">
								<!-- === 单选题 === -->
								<div class="tab-pane active" id="tab_questionsimple">
									<table id="questionSimple_table"></table>
								</div>
	
								<!-- === 多选题 === -->
								<div class="tab-pane" id="tab_questionmultiple">
									<table id="questionMultiple_table"></table>
								</div>
								
								<!-- === 填空题 === -->
								<div class="tab-pane" id="tab_questionblank">
									<table id="questionFillBlank_table"></table>
								</div>
								
								<!-- === 判断题 === -->
								<div class="tab-pane" id="tab_questionjudgement">
									<table id="questionJudgement_table"></table>
								</div>
								
								<!-- === 编程题 === -->
								<div class="tab-pane" id="tab_questionprogram">
									<table id="questionProgram_table"></table>
								</div>
	
							</div>
						</div><!-- /Tabs -->
					</div>
				</div> <!-- /.row -->
				<!-- /Page Content -->
		        
			</div>
			<!-- /.container -->
		</div>
	</div>
</body>
</html>