<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>LearnEase</title>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!--bootstrap-table-->
    <link href="extensions/BootstrapTable/dist/bootstrap-table.min.css" type="text/css" />

	<!-- jQuery UI -->
	<!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
	<![endif]-->

	<!-- Theme -->
	<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--=== JavaScript ===-->

	<!--<script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>-->
	<script type="text/javascript" src="extensions/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!-- Smartphone Touch Events -->
	<script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>

	<!-- General -->
	<script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
	<script type="text/javascript" src="plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
	<script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

	<!-- Page specific plugins -->
	<!-- Charts -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.growraf.min.js"></script>
	<script type="text/javascript" src="plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

	<script type="text/javascript" src="plugins/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="plugins/blockui/jquery.blockUI.min.js"></script>

	<script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>

	<!-- Noty -->
	<script type="text/javascript" src="plugins/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="plugins/noty/layouts/top.js"></script>
	<script type="text/javascript" src="plugins/noty/themes/default.js"></script>

	<!-- Forms -->
	<script type="text/javascript" src="plugins/uniform/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="plugins/select2/select2.min.js"></script>

	<!-- App -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins.js"></script>
	<script type="text/javascript" src="assets/js/plugins.form-components.js"></script>

	<!--bootstrap table-->
	<script type="text/javascript" src="extensions/BootstrapTable/dist/bootstrap-table.min.js"></script>


	<script>
	$(document).ready(function(){
		"use strict";

		App.init(); // Init layout and core plugins
		Plugins.init(); // Init all plugins
		FormComponents.init(); // Init all form-specific plugins
	});
	</script>

	<!-- Demo JS -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<script type="text/javascript" src="assets/js/demo/pages_calendar.js"></script>
	<script type="text/javascript" src="assets/js/demo/charts/chart_filled_blue.js"></script>
	<script type="text/javascript" src="assets/js/demo/charts/chart_simple.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			var questionMultiple = $("#questionMultiple_table");
			questionMultiple.bootstrapTable({
				/* onDblClickRow: function(row,$element,field){
					alert(JSON.stringify(row));
				}, */
				url: "/multiple/all",
				method:'get',
				sortOrder: 'desc',
			    dataType:'json',
			    contentType: "application/json",
			    striped: true,   //是否显示行间隔色
			    singleSelect: false,
			    cache: false,
			    search: false,        //查找输入框
			    showColumns: false,      //True to show the columns drop down list
			    showRefresh: true,    //True to show the refresh button
			    showPaginationSwitch: false,
			    pagination:true,
			    queryParams: function(params) {
			    	return params;
			    },
			    queryParamsType: "",
			    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
			    pageNumber:1,                       //初始化加载第一页，默认第一页
	            pageSize: 10,                       //每页的记录行数（*）
	           	pageList: [10, 25, 35, 50],        //可供选择的每页的行数（*）
				columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'shortName',
			        title: '主题',
			        align: 'center'
			    },{
			        field: 'difficulty',
			        title: '难度',
			        align: 'center'
			    },{
			        field: 'createTime',
			        title: '提交时间',
			        align: 'center',
			        sortable: true      //是否启用排序
			    },{
			        field: 'labels',
			        title: '标签',
			        align: 'center',
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'center',
			        formatter: operateFormatter
			    }]
			});
			function operateFormatter(value, row, index) {
				var array = new Array();
				array.push("<a class='info' href='multiple_info_html?id="+row.id+"' target='_blank' title='详情'>");
				array.push("<i class='glyphicon glyphicon-info-sign'></i></a>");
				array.push()
		        return array.join('');       //数组转成字符串
		    }
		});
	</script>
</head>

<body>
	<header class="header navbar navbar-fixed-top" role="banner" th:include="common/common_navigation :: study-common-navidation">
	</header> <!-- /.header -->

	<div id="container" class="sidebar-closed">

		<div id="content">
			<div class="container">
				<!-- Breadcrumbs line -->
				<div class="crumbs" th:fragment="common_study_crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="javascript:void(0);">学习中心</a>
						</li>
						<li class="current">
							<a href="javascript:void(0);" title="">题目列表</a>
						</li>
						<li class="current">
							<a href="javascript:void(0);" title="">多选题</a>
						</li>
					</ul>
			
					<ul class="crumb-buttons" th:include="common/common_study_crumbs :: crumb-buttons">
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Content ===-->
				<div style="width:100%; margin-top: 5px;"> <!-- .row-bg -->
					<table id="questionMultiple_table">
					</table>
				</div>
				<!-- /Page Content -->
			</div>
			<!-- /.container -->

		</div>
	</div>

</body>
</html>