<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Learnease</title>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- jQuery UI -->
	<!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
	<![endif]-->

	<!-- Theme -->
	<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

	<!--=== JavaScript ===-->

	<script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!-- Smartphone Touch Events -->
	<script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>

	<!-- General -->
	<script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
	<script type="text/javascript" src="plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
	<script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

	<!-- Page specific plugins -->
	<!-- Charts -->
	<script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>

	<script type="text/javascript" src="plugins/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="plugins/blockui/jquery.blockUI.min.js"></script>

	<!-- App -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins.js"></script>
	<script type="text/javascript" src="assets/js/plugins.form-components.js"></script>

	<script>
	$(document).ready(function(){
		"use strict";

		App.init(); // Init layout and core plugins
		Plugins.init(); // Init all plugins
		FormComponents.init(); // Init all form-specific plugins
	});
	</script>

	<!-- Demo JS -->
	<script type="text/javascript" src="assets/js/custom.js"></script>

	<script>
		$(document).ready(function() {
			var search = location.search;
			var questionId = search.split("?id=")[1];
			var question_shortName = "";
			
			$.get("/program/getById", {"id": questionId}, function(result) {
				question_shortName = result.shortName;
				$("#program_shortName").html(result.shortName);
				$("#program_content").html(result.content);
				$("#program_description").html(result.description);
				var difficulty = "";
				switch (result.difficulty) {
				case "1":
					difficulty = "★";
					break;
				case "2":
					difficulty = "★★";
					break;
				case "3":
					difficulty = "★★★";
					break;
				case "4":
					difficulty = "★★★★";
					break;
				case "5":
					difficulty = "★★★★★";
					break;
				case "6":
					difficulty = "★★★★★★";
					break;
				default:
					break;
				}
				$("#program_difficulty").html(result.difficulty);
				
				$("#program_input").html(result.input);
				$("#program_output").html(result.output);
				$("#program_exampleInput").html(result.exampleInput);
				$("#program_exampleOutput").html(result.exampleOutput);
				$("#program_hint").html(result.hint);
			}, "json");
			
			$(".resolve_program").click(function() {
				window.open("execute_html?param="+question_shortName);
			});
		});
	</script>
</head>

<body>
	<header class="header navbar navbar-fixed-top" role="banner" th:include="common/common_navigation :: study-common-navidation">
	</header> <!-- /.header -->

	<div id="container" class="sidebar-closed">

		<div id="content">
			<div class="container">
				<!-- Breadcrumbs line -->
				<div class="crumbs" th:fragment="common_study_crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="javascript:void(0);">学习中心</a>
						</li>
						<li class="current">
							<a href="javascript:void(0);" title="">题目列表</a>
						</li>
					</ul>
			
					<ul class="crumb-buttons" th:include="common/common_study_crumbs :: crumb-buttons">
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<br/>
				<!--=== Accordion ===-->
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="widget">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i> 编程题</h4>
								<div class="toolbar">
									<div class="btn-group">
										<button type="button" class="btn btn-primary resolve_program">答题</button>
									</div>
								</div>
							</div>
							<div class="widget-content">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion">
											主题</a>
											</h3>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
											<div class="panel-body"id="program_shortName">
												 
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion">
											题目</a>
											</h3>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse in">
											<div class="panel-body" id="program_content">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											描述</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_description">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											难度</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_difficulty">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											输入</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_input">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											输出</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_output">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											示例输入</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_exampleInput">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											示例输出</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_exampleOutput">
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">
											<a class="accordion-toggle" data-parent="#accordion" >
											提示</a>
											</h3>
										</div>
										<div id="collapseThree" class="panel-collapse collapse in">
											<div class="panel-body" id="program_hint">
											</div>
										</div>
									</div>
								</div>
							</div> <!-- /.widget-content -->
						</div> <!-- /.widget .box -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<!-- /Accordion -->
				
				
			</div>
			<!-- /.container -->

		</div>
	</div>
</body>
</html>