<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>LearnEase</title>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!--bootstrap-table-->
    <link href="extensions/BootstrapTable/dist/bootstrap-table.min.css" type="text/css" />

	<!-- jQuery UI -->
	<!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
	<![endif]-->

	<!-- Theme -->
	<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--=== JavaScript ===-->

	<!--<script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>-->
	<script type="text/javascript" src="extensions/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!-- Smartphone Touch Events -->
	<script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script>
	<script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>

	<!-- General -->
	<script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
	<script type="text/javascript" src="plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
	<script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

	<!-- Page specific plugins -->
	<!-- Charts -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
	<script type="text/javascript" src="plugins/flot/jquery.flot.growraf.min.js"></script>
	<script type="text/javascript" src="plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

	<script type="text/javascript" src="plugins/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="plugins/blockui/jquery.blockUI.min.js"></script>

	<script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>

	<!-- Noty -->
	<script type="text/javascript" src="plugins/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="plugins/noty/layouts/top.js"></script>
	<script type="text/javascript" src="plugins/noty/themes/default.js"></script>

	<!-- Forms -->
	<script type="text/javascript" src="plugins/uniform/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="plugins/select2/select2.min.js"></script>

	<!-- App -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins.js"></script>
	<script type="text/javascript" src="assets/js/plugins.form-components.js"></script>

	<!--bootstrap table-->
	<script type="text/javascript" src="extensions/BootstrapTable/dist/bootstrap-table.min.js"></script>


	<script>
	$(document).ready(function(){
		"use strict";

		App.init(); // Init layout and core plugins
		Plugins.init(); // Init all plugins
		FormComponents.init(); // Init all form-specific plugins
	});
	</script>

	<!-- Demo JS -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<script type="text/javascript" src="assets/js/demo/pages_calendar.js"></script>
	<script type="text/javascript" src="assets/js/demo/charts/chart_filled_blue.js"></script>
	<script type="text/javascript" src="assets/js/demo/charts/chart_simple.js"></script>
	
	
	<style>
		.solution_div {display:none;}
	</style>
	<script>
		var search = location.search;
		var questionId = search.split("?id=")[1];
		$.ajax({
			url: "/simple/findById",
			async: true,
			dataType: "json",
			data: {"id":questionId},
			type: "get",
			success: function(result) {
				$("#question_topic").html(result.topic);
				$("#question_name").html(result.questionName);
				switch(result.difficulty) {
					case 1:
						$("#question_difficulty").html("★");
						break;
					case 2:
						$("#question_difficulty").html("★★");
						break;
					case 3:
						$("#question_difficulty").html("★★★");
						break;
					case 4:
						$("#question_difficulty").html("★★★★");
						break;
					case 5:
						$("#question_difficulty").html("★★★★★");
						break;
					default:$("#question_difficulty").html("★");
				};
				//处理选项
				var array = new Array();
				var optionContents = new Array();
				$.each(result.alloptions, function(idx,val) {
					array.push("<span style='margin-left:15px;font-size:16px;'>"+val.optionChoice+":"+val.optionContent+"</span>");
					optionContents.push(val.optionContent);
				});
				array.sort();
				$("#question_options").html(array.join(" "));
				
				var string = "";
				for(var i=0; i<optionContents.length; i++) {
					string = string + dealOptions(optionContents[i]);
				}
				string = string + '<label class="radio-inline"></label>'
				//alert(string);
				$("#select_options").html(string);
			},
			error: function() {
				alert("error");
			}
		})
		
		function show() {
			$(".solution_div").toggle(500);
		}
		
		function dealOptions(param) {
			var tmp = '<label class="radio-inline"><input type="radio" class="_answer" name="optionsRadios2" value="'+param+'">'+
			param+'</label>';
			return tmp;
		}
		
		//提交答案
		function submitAnswer() {
			var id = questionId;
			var answercontent = "";
			
			//获取选中的值
			var array = $("._answer");
			for(var i=0; i<array.length; i++) {
				if(array[i].checked) {
					answercontent = array[i].value;
				}
			}
			//alert(array.length);
			//alert(answercontent);
			$.ajax({
				url: "/learnease/questionsimple/judge.action",
				async: false,
				type: "post",
				dataType: "text",
				data: {
					"qid": id,
					"answercontent": answercontent
				},
				success: function(result) {
					$("#judge_result").hide();
					if(result == "yes") {
						$("#judge_result").html('<icon class="icon-ok">  </icon>');
					}else if(result == "no") {
						$("#judge_result").html('<icon class="icon-remove">  </icon>');
					}else {
						$("#judge_result").html('<span style="color:red;">error</span>');
					}
					$("#judge_result").show(300);
				},
				error: function() {
					alert("error");
				}
			});
		}
	</script>

<body>

	<!-- Header -->
	<header class="header navbar navbar-fixed-top" role="banner">
		<!-- Top Navigation Bar -->
		<div class="container">

			<!-- Only visible on smartphones, menu toggle -->
			<ul class="nav navbar-nav">
				<li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
			</ul>

			<!-- Logo -->
			<a class="navbar-brand" href="javascript:void(0);">
				<img src="assets/img/logo.png" alt="logo" />
				<strong>LearnEase</strong>
			</a>
			<!-- /logo -->

			<!-- Sidebar Toggler -->
			<!-- <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
				<i class="icon-reorder"></i>
			</a> -->
			<!-- /Sidebar Toggler -->

			<!-- Top Left Menu -->
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="user_profile.html">
						用户主页
					</a>
				</li>
				<li>
					<a href="study_center.html">
						学习中心
					</a>
				</li>
				<li>
					<a href="teacher_center.html">
						教师中心
					</a>
				</li>
			</ul>
			<!-- /Top Left Menu -->

			<!-- Top Right Menu -->
			<ul class="nav navbar-nav navbar-right">
				<!-- Notifications -->

				<!-- Tasks -->
				

				<!-- Messages -->
				<li class="dropdown hidden-xs hidden-sm">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-envelope"></i>
						<span class="badge">1</span>
					</a>
					<ul class="dropdown-menu extended notification">
						<li class="title">
							<p>You have 3 new messages</p>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span class="photo"><img src="assets/img/demo/avatar-1.jpg" alt="" /></span>
								<span class="subject">
									<span class="from">Bob Carter</span>
									<span class="time">Just Now</span>
								</span>
								<span class="text">
									Consetetur sadipscing elitr...
								</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span class="photo"><img src="assets/img/demo/avatar-2.jpg" alt="" /></span>
								<span class="subject">
									<span class="from">Jane Doe</span>
									<span class="time">45 mins</span>
								</span>
								<span class="text">
									Sed diam nonumy...
								</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span class="photo"><img src="assets/img/demo/avatar-3.jpg" alt="" /></span>
								<span class="subject">
									<span class="from">Patrick Nilson</span>
									<span class="time">6 hours</span>
								</span>
								<span class="text">
									No sea takimata sanctus...
								</span>
							</a>
						</li>
						<li class="footer">
							<a href="javascript:void(0);">View all messages</a>
						</li>
					</ul>
				</li>

				<!-- User Login Dropdown -->
				<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<!--<img alt="" src="assets/img/avatar1_small.jpg" />-->
						<i class="icon-male"></i>
						<span class="username" id="show_username">---</span>
						<i class="icon-caret-down small"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="login.html"><i class="icon-off"></i> Log Out</a></li>
					</ul>
				</li>
				<!-- /user login dropdown -->
			</ul>
			<!-- /Top Right Menu -->
		</div>
		<!-- /top navigation bar -->

	</header> <!-- /.header -->

	<div id="container" class="sidebar-closed">

		<div id="content">
			<div class="container">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="javascript:void(0);">学习中心</a>
						</li>
						<li class="current">
							<a href="javascript:void(0);" title="">题目列表</a>
						</li>
						<li class="current">
							<a href="javascript:void(0);" title="">单选题</a>
						</li>
						<li class="current">
							<a href="javascript:void(0);" title="">详情页</a>
						</li>
					</ul>

					<ul class="crumb-buttons">
						<li><a href="study_center.html" title=""><i class="icon-tasks"></i><span>所有课程</span></a></li>
						<li><a href="mycourse.html" title=""><i class="icon-list"></i><span>我的课程</span></a></li>
						<li><a href="mysolutionset.html" title=""><i class="icon-list"></i><span>我的答卷</span></a></li>
						<li><a href="mytest.html" title=""><i class="icon-tasks"></i><span>我的考试</span></a></li>
						<li><a href="myproblem.html" title=""><i class="icon-list"></i><span>已刷题目</span></a></li>
						<li class="dropdown"><a href="javascript:void(0);" title="" data-toggle="dropdown"><i class="icon-tasks"></i>题目列表<i class="icon-angle-down left-padding"></i></a>
							<ul class="dropdown-menu pull-right">
							<li><a href="list_1.html" title="">单选题</a></li>
							<li><a href="list_2.html" title="">多选题</a></li>
							<li><a href="list_3.html" title="">判断题</a></li>
							<li><a href="list_4.html" title="">填空题</a></li>
							<li><a href="list_5.html" title="">编程题</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Content ===-->
				<form style="width:700px;margin:0 auto;margin-top:20px;">
					<div class="form-group">
						<label style="color:blue;">题号:</label>&nbsp;<span id="question_number"></span>
					</div>
					<div class="form-group">
						<label style="color:blue;">主题:</label>&nbsp;<span id="question_topic"></span>
					</div>
					<div class="form-group">
						<label style="color:blue;">题目:</label>&nbsp;<span id="question_name"></span>
					</div>
					<div class="form-group">
						<label style="color:blue;">描述:</label>&nbsp;<span id="question_description"></span>
					</div>
					<div class="form-group">
						<label style="color:blue;">难度:</label>&nbsp;<span id="question_difficulty"></span>
					</div>
					<div class="form-group">
						<label style="color:blue;">选项:</label>&nbsp;<span id="question_options"></span>
					</div>
					<p style="margin-left:260px;">
						<a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button" onclick="show();">答题</a>
					</p>
					<div class="form-group solution_div">
						<div class="col-md-10" id="select_options" style="border:1px solid gray; height:32px; padding-top:5px;">
			
							<label class="radio-inline">
								<input type="radio" name="optionsRadios2" value="option1">
								Option 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optionsRadios2" value="option2" checked>
								Option 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optionsRadios2" value="option3" checked>
								Option 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optionsRadios2" value="option3" checked>
								Option 3
							</label>
						</div>
						<button type="button" class="btn btn-default" onclick="submitAnswer();">提交答案</button>
						<label class="radio-inline" id="judge_result">
							<!-- <icon class="icon-ok"></icon>sadsaf<icon class="icon-remove"></icon> -->
						</label>
					</div>
				</form>
				<!-- /Page Content -->
			</div>
			<!-- /.container -->

		</div>
	</div>
</body>
</html>