<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Login</title>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- Theme -->
	<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

	<!-- Login -->
	<link href="assets/css/login.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'> -->

	<!--=== JavaScript ===-->

	<!-- <script type="text/javascript" src="extensions/jquery-3.2.1.js"></script> -->
	<script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!-- Beautiful Checkboxes -->
	<script type="text/javascript" src="plugins/uniform/jquery.uniform.min.js"></script>

	<!-- Form Validation -->
	<script type="text/javascript" src="plugins/validation/jquery.validate.min.js"></script>

	<!-- Slim Progress Bars -->
	<script type="text/javascript" src="plugins/nprogress/nprogress.js"></script>

	<!-- App -->
	<script type="text/javascript" src="assets/js/login.js"></script>
	<script>
	$(document).ready(function(){
		"use strict";

		Login.init(); // Init login JavaScript
	});
	</script>
	<script type="text/javascript" src="js/login.js"></script>
</head>
<body class="login">
	<!-- Logo -->
	<div class="logo">
		<img src="assets/img/logo.png" alt="logo" />
		<strong>嘉应学院</strong>
	</div>
	<!-- /Logo -->

	<!-- Login Box -->
	<div class="box">
		<div class="content">
			<!-- Login Formular -->
			<form class="form-vertical login-form" action="">
				<!-- Title -->
				<h3 class="form-title" >登 录</h3>

				<!-- 错误信息   没填写完整 -->
				<div class="alert fade in alert-danger" style="display: none;">
					<i class="icon-remove close" data-dismiss="alert"></i>
					请填写邮箱地址和密码.
				</div>

				<!--登录功能-->
				<!-- 邮箱 -->
				<div class="form-group">
					<div class="input-icon">
						<i class="icon-envelope"></i>
						<input type="text" name="email" id='loginEmail' class="form-control" placeholder="邮箱地址" autofocus="autofocus" data-rule-required="true" data-msg-required="请填写邮箱地址." />
					</div>
				</div>
				<!--密码-->
				<div class="form-group">
					<div class="input-icon">
						<i class="icon-lock"></i>
						<input type="password" name="password" id="loginPasswd" class="form-control" placeholder="密码" data-rule-required="true" data-msg-required="请输入密码." />
					</div>
				</div>
				<!-- /Input Fields -->

				<!-- Form Actions -->
				<div class="form-actions">
					<label class="checkbox pull-left">帐号：1292931210@qq.com  密码：123456</label><br/>
					<label class="checkbox pull-left"><input type="checkbox" class="uniform" name="remember"> 记住我</label>
					<button type="button" class="submit btn btn-primary pull-right" onclick="login()">
						登录 <i class="icon-angle-right"></i>
					</button>
				</div>
			</form>
			<!-- /Login Formular -->

			<!-- Register Formular (hidden by default) 注册 -->
			<form class="form-vertical register-form"  style="display: none;" action="">
				<!-- Title -->
				<h3 class="form-title">注册账号</h3>

				<!-- Input Fields -->
		<!-- 		<div class="form-group">
					<div class="input-icon">
						<i class="glyphicon glyphicon-map-marker"></i>
						<input type="text" id="schoolNameRG" name="schoolname" class="form-control" placeholder="学校：嘉应学院"  data-rule-required="true" />
					</div>
				</div> -->
				<div class="form-group">
					<div class="input-icon">
						<i class="icon-user"></i>
						<input type="text" id="userNameRG" name="username" class="form-control" placeholder="用户名" autofocus="autofocus" data-rule-required="true" />
					</div>
				</div>

				<div class="form-group">
					<div class="input-icon">
						<i class="icon-envelope"></i>
						<input type="text" id="emailRG" name="Email" class="form-control" placeholder="邮箱地址" data-rule-required="true" data-rule-email="true" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="input-icon">
						<i class="icon-lock"></i>
						<input type="password" id="password" name="password" class="form-control" placeholder="密码" data-rule-required="true" />
					</div>
				</div>
				<div class="form-group">
					<div class="input-icon">
						<i class="icon-ok"></i>
						<input type="password" id="password_confirm" class="form-control" placeholder="确认密码" data-rule-required="true" />
					</div>
				</div>


				<!-- Form Actions -->
				<div class="form-actions">
					<button type="button" class="back btn btn-default pull-left">
						<i class="icon-angle-left"></i> 后退
					</button>
					<button type="button" id="register_btn" class="submit btn btn-primary pull-right" onclick="SignUp();">
						注册 <i class="icon-angle-right"></i>
					</button>
				</div>
			</form>
			<!-- /Register Formular -->
		</div> <!-- /.content -->

		<!-- Forgot Password Form -->
		<div class="inner-box">
			<div class="content">
				<!-- Close Button -->
				<i class="icon-remove close hide-default"></i>

				<!-- Link as Toggle Button -->
				<a href="#" class="forgot-password-link">忘记密码？</a>

				<!-- Forgot Password Formular -->
				<form class="form-vertical forgot-password-form hide-default">
					<!-- Input Fields -->
					<div class="form-group">
						<!--<label for="email">Email:</label>-->
						<div class="input-icon">
							<i class="icon-envelope"></i>
							<input type="text" name="email" id="emailUp" class="form-control" placeholder="Enter email address" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email address." />
						</div>
					</div>
					<!-- /Input Fields -->

					<button type="button" id="resetPwd_btn" class="submit btn btn-default btn-block" onclick="resetPasswd();">
						重置密码
					</button>
				</form>
				<!-- /Forgot Password Formular -->

				<!-- Shows up if reset-button was clicked -->
				<div class="forgot-password-done hide-default">
					<i class="icon-ok success-icon"></i> <!-- Error-Alternative: <i class="icon-remove danger-icon"></i> -->
					<span id="show_result">我们已经发送邮件给您了。</span>
				</div>
			</div> <!-- /.content -->
		</div>
		<!-- /Forgot Password Form -->
	</div>
	<!-- /Login Box -->

	<!-- Footer -->
	<div class="footer">
		<a href="#" class="sign-up">还没注册？ <strong>注册账号</strong></a>
	</div>
	<!-- /Footer -->
</body>
</html>