<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>權限管理</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/extensions/zTree_v3/css/demo.css" type="text/css">
		<!-- <link rel="stylesheet" href="/extensions/layer-v3.1.1/layer/theme/default/layer.css" type="text/css"> -->
		<link rel="stylesheet" href="/extensions/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
		
		<!-- <script type="text/javascript" src="/extensions/zTree_v3/js/jquery-1.4.4.min.js"></script> -->
		<script type="text/javascript" src="/extensions/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/extensions/zTree_v3/js/jquery.ztree.all.js"></script>
		<!-- <script type="text/javascript" src="/extensions/layer-v3.1.1/layer/layer.js"></script> -->
		<!-- <link rel="stylesheet" href="/extensions/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" type="text/css">
		<script type="text/javascript" src="/extensions/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> -->
		
		<link rel="stylesheet" href="/extensions/jquery-ui-1.12.0/jquery-ui.min.css" type="text/css">
 		<script type="text/javascript" src="/extensions/jquery-ui-1.12.0/jquery-ui.min.js"></script>
		<!-- <link rel="stylesheet" href="/extensions/layui-v2.2.5/layui/css/layui.css" type="text/css">
 		<script type="text/javascript" src="/extensions/layui-v2.2.5/layui/layui.all.js"></script> -->
		<!--<script type="text/javascript" src="/extensions/layui-v2.2.5/layui/lay/modules/form.js"></script>
		<script type="text/javascript" src="/extensions/layui-v2.2.5/layui/lay/modules/element.js"></script> -->
	</head>
	<body>
		<div class="content_wrap">
			<div class="zpermission_manageBackground left">
				<ul id="permission_tree" class="ztree"></ul>
			</div>
		</div>
		<div id="add_permission" title="添加权限" style="display:none;">
		    <form>
			    <fieldset>
			      <label for="name">权限名</label>
			      <input type="text" name="name" id="add_name" class="text ui-widget-content ui-corner-all"><br/>
			      <label for="email">权限代码</label>
			      <input type="text" name="code" id="add_code" class="text ui-widget-content ui-corner-all"><br/>
			      <label for="text">目录</label>
			      <select id="add_isCatalog">
					  <option value ="true">true</option>
					  <option value ="false">false</option>
					</select><br/>
			      <label for="email">菜单栏显示</label>
			      <select id="add_isMenuShow">
					  <option value ="true">true</option>
					  <option value ="false">false</option>
					</select><br/>
			    </fieldset>
			</form>
		</div>
		<div id="update_permission" title="修改权限" style="display:none;">
		    <form>
			    <fieldset>
			      <label for="name">权限名</label>
			      <input type="text" name="name" id="up_name" class="text ui-widget-content ui-corner-all"><br/>
			      <label for="email">权限代码</label>
			      <input type="text" name="code" id="up_code" class="text ui-widget-content ui-corner-all"><br/>
			      <label for="text">目录</label>
			      <select id="up_isCatalog">
					  <option value ="true">true</option>
					  <option value ="false">false</option>
					</select><br/>
			      <label for="text">菜单栏显示</label>
			      <select id="up_isMenuShow">
					  <option value ="true">true</option>
					  <option value ="false">false</option>
					</select><br/>
			    </fieldset>
			</form>
		</div>
	</body>
	<script type="text/javascript">
		var permission_tree = {
			init: function() {
				$.get("permission_all",{},function(result) {
					var setting = {
						edit: {
						   drag: {
							   autoExpandTrigger: true
							},
						   enable: true,
						   showRemoveBtn: true,
						   showRenameBtn: false
					   	},
						check : {enable : true,nocheckInherit : true},
						data: {simpleData: {enable: true}},
						view: {
							addHoverDom: permission_tree.addHoverDom,
							removeHoverDom: permission_tree.removeHoverDom
						},
						callback: {
							beforeRemove: permission_tree.beforeRemove,
							onClick: permission_tree.onClick
						}
					};
					$.fn.zTree.init($("#permission_tree"), setting, result).expandAll(true);
				},"json");
			}
			onClick: function(event, treeId, treeNode){},
		    addHoverDom: function(treeId, treeNode) {
		        if (treeNode.editNameFlag || $("#permission_addBtn_" + treeNode.id).length > 0)
		           return;
				var sObj = $("#" + treeNode.tId + "_span");
				var addStr = "<span class=\"button add\" id='permission_addBtn_"+ treeNode.id + "' title='增加' onfocus='this.blur();'></span>" +
		       				"<span class=\"button edit\" id='permission_editBtn_"+ treeNode.id + "' title='修改' onfocus='this.blur();'></span>";
				sObj.append(addStr);
				var addbtn = $("#permission_addBtn_" + treeNode.id);
				if (addbtn) {
		           addbtn.bind("click", function() {
		               permission_add_dialog.open(treeNode);
		           });
				}
		       
		       var editbtn = $("#permission_editBtn_" + treeNode.id);
		       if (editbtn) {
		           editbtn.bind("click", function() {
		           		permission_up_dialog.open(treeNode);
		           });
		       }
		    },
		    removeHoverDom: function(treeId, treeNode) {
		        $("#permission_addBtn_" + treeNode.id).unbind().remove();
				$("#permission_editBtn_" + treeNode.id).unbind().remove();
		    },
		    beforeRemove: function(treeId, treeNode) {
		        var zTree = $.fn.zTree.getZTreeObj(treeId);
				zTree.selectNode(treeNode);
				if(treeNode.isParent) {
		           $.onecloud.warnShow("存在子权限！");
		           return false;
				}
				if(confirm("确认删除《" + treeNode.name + "》吗？")) {
		           var params = {"id": treeNode.id};
		           $.post("/permission_del", params, function (data) {
		               if (data.status == 0) {
		                   $.onecloud.succShow(data.mess);
		                   return true;
		               } else if(data.status == 1) {
		                   $.onecloud.errorShow(data.mess);
		                   return false;
		               }else{
		                   $.onecloud.warnShow(data.mess);
		                   return false;
		               }
		           });
				}else{
		           return false;
				}
		    },
		    expAll: function(){
			    if(permission_tree.exp) {
			    	$.fn.zTree.getZTreeObj("permission_tree").expandAll(false);
			        permission_tree.exp = false;
			    } else {
			    	$.fn.zTree.getZTreeObj("permission_tree").expandAll(true);
			        permission_tree.exp = true;
			    }
		    },
		    checkAll: function(){
			    if(permission_tree.check) {
			    	$.fn.zTree.getZTreeObj("permission_tree").checkAllNodes(false);
			        permission_tree.check = false;
			    } else {
			    	$.fn.zTree.getZTreeObj("permission_tree").checkAllNodes(true);
			        permission_tree.check = true;
			    }
		    },
		}
	</script>
</html>