<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>LearnEase</title>
<style>
#info {width: 500px; height: 100px; font-size: 30px; margin: 200px auto;}
</style>
<script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>
<script>
$(document).ready(function() {
	var path = window.location.href;
	var a = new Array();
	a = path.split("code=");
//	alert(a[1]);
	$.ajax({
		url: '/user/validate',
		dataType: 'json',
		type: 'post',
		data: "code="+a[1],
		success: function(result){
			$("#info").html(result.msg);
		},
		error: function() {
			alert("error");
		}
	});
});
</script>
</head>
<body>
<div id="info"></div>
</body>
</html>