<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>LearnEase</title>

    <!--=== CSS ===-->

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery UI -->
    <!-- <link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" /> -->
    <link href="extensions/jquery-ui-1.12.0/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
    <![endif]-->

    <!-- Theme -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->

    <!--[if IE 8]>
    <link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    


    <style>
        #simple_page,#multiple_page,#blank_page,#program_page,#judgement_page {display: none;}
        #questionSimple_detail,#questionMultiple_detail,#questionBlank_detail,#questionJudgement_detail,#questionProgram_detail {
            display: none; width:80%; margin: 10px auto;}
        #question_optionList {list-style:none;}
        #calculate :hover {color: #0000C6;}
        .choose {
            /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
            border: solid 1px #000;

            /*很关键：将默认的select选择框样式清除*/
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;

            /*在选择框的最右侧中间显示小箭头图片*/
            background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


            /*为下拉小箭头留出一点位置，避免被文字覆盖*/
            padding-right: 14px;
        }
    </style>


    <!--=== JavaScript ===-->
    <script type="text/javascript" src="extensions/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script> -->
    <script type="text/javascript" src="extensions/jquery-ui-1.12.0/jquery-ui.min.js"></script>

    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="assets/js/libs/html5shiv.js"></script>
    <![endif]-->

    <!-- Smartphone Touch Events -->
    <script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script>
    <script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>

    <!-- General -->
    <script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
    <script type="text/javascript" src="plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
    <script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

    <!-- Page specific plugins -->
    <!-- Charts -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="plugins/flot/jquery.flot.growraf.min.js"></script>
    <script type="text/javascript" src="plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <script type="text/javascript" src="plugins/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="plugins/blockui/jquery.blockUI.min.js"></script>

    <script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>

    <!-- Noty -->
    <script type="text/javascript" src="plugins/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="plugins/noty/layouts/top.js"></script>
    <script type="text/javascript" src="plugins/noty/themes/default.js"></script>

    <!-- Forms -->
    <script type="text/javascript" src="plugins/uniform/jquery.uniform.min.js"></script>

    <!--select2-->
    <link href='extensions/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="extensions/select2/dist/js/select2.min.js"></script>

    <!-- App -->
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/plugins.form-components.js"></script>

    <!--tagsinput-->
    <script type="text/javascript" src="extensions/tagsinput/dist/tagsinput.min.js"></script>
    <link href='extensions/tagsinput/dist/tagsinput.min.css' rel='stylesheet' type='text/css'>

    <!--jquery cookie-->
    <script type="text/javascript" src="extensions/jquerycookie/jquery.cookie.js"></script>
    
    <!-- bootstrap table-->
    <link href='extensions/BootstrapTable/dist/bootstrap-table.min.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="extensions/BootstrapTable/dist/bootstrap-table.min.js"></script>

    <script>
        $(document).ready(function(){
            "use strict";

            App.init(); // Init layout and core plugins
            Plugins.init(); // Init all plugins
            FormComponents.init(); // Init all form-specific plugins
        });
    </script>

    <!-- Demo JS -->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/demo/pages_calendar.js"></script>
    <script type="text/javascript" src="assets/js/demo/charts/chart_filled_blue.js"></script>
    <script type="text/javascript" src="assets/js/demo/charts/chart_simple.js"></script>
    
    <style>
    	.page-header  {display: none; font-size:20px;}
    	.simple_page, .judgement_page, .blank_page, .multiple_page, .program_page {display: none;}
    	input{height:24px; border: 1px solid #ccc; 
                padding: 7px 0px;
                border-radius: 3px; /*css3属性IE不支持*/
                padding-left:5px;}
    </style>
    
    <script type="text/javascript" src="js/base.js"></script>
    
    <!--jquery cookie-->
    <script type="text/javascript" src="extensions/jquerycookie/jquery.cookie.js"></script>
    
    <!-- jquery-ui-timepicker-addon -->
    <link href="extensions/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <script src="extensions/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.js"></script>
    <script src="extensions/jQuery-Timepicker-Addon/dist/i18n/jquery-ui-timepicker-zh-CN.js"></script>
</head>

<body>
	<header class="header navbar navbar-fixed-top" role="banner" th:include="/common/common_navigation :: teacher-common-navidation">
	</header> <!-- /.header -->

    <div id="container">
        <div id="sidebar" class="sidebar-fixed" th:include="/common/teacher_common_sidebar :: teacher_common_siderbar">
		</div><!-- /Sidebar -->

        <div id="content">
            <div class="container">
                <!-- Breadcrumbs line -->
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="javascript:void(0);">考试管理</a>
                        </li>
                        <li class="current">
                            <a href="javascript:void(0);" title="">添加考试</a>
                        </li>
                    </ul>
                </div>
                <!-- /Breadcrumbs line -->
                    
                <!--=== Page Content ===-->
                <div class="row">
                    <!-- test信息 -->
                    <div class="test_info">
                        <div style="width:700px; margin: 30px auto;">
                            <form>
                                <div class="form-group">
                                    <label for="">名称</label>
                                    <input type="text" class="form-control" id="test_name"  style="color:#330000;">
                                </div><br/>
                                <div class="form-group">
                                    <label for="">描述</label>
                                    <input type="text" class="form-control" id="test_description"  style="color:#330000;">
                                </div><br/>
                                <div class="form-group">
                                    <label for="">考试类型</label>
                                    <div class="isactive"  style="color:#330000;">
                                        <select id="test_type" style="width:490px;">
                                            <option value=""></option>
                                            <option value="COMPETITION">竞赛</option>
                                            <option value="GENERALTEST">普通考试</option>
                                            <option value="QUIZ">测试</option>
                                        </select>
                                    </div>
                                </div><br/>
                                <div class="form-group">
                                    <label for="">考试状态</label>
                                    <div class="isactive"  style="color:#330000;">
                                        <select id="test_status" style="width:490px;">
                                            <option value=""></option>
                                            <option value="PUBLISHED">完成创建</option>
                                            <option value="STARTED">开启考试</option>
                                        </select>
                                    </div>
                                </div><br/>
                                <div class="form-group">
                                    <label for="">选择试卷</label>
                                    <input type="text" class="form-control" onfocus="selectQuestionSet('questionset_page');"  readonly="readonly" style="color:#330000;" id="test_questionSet">
                                </div><br/>
                                <div class="form-group">
                                    <label for="">开始时间</label>
                                    <input type="text" class="form-control" id="startTime" readonly="readonly" style="color:#330000;">
                                </div><br/>
                                <div class="form-group">
                                    <label for="">考试时间(单位：分钟)</label>
                                    <!-- <input type="text" class="form-control" id="endTime" readonly="readonly" style="color:#330000;"> -->
                                	<input type="text" class="form-control" id="limitTime"/>
                                </div><br/>
                                <p style="margin-left:300px;">
                                	<button type="button" class="btn btn-primary" onclick="save();">保存</button>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- /test信息 -->
                    
                    <!-- 试卷页面 -->
                    <div class="questionset_page" style="display:none;">
                    	<table id="paperList"></table>
                    </div>
                    <!-- /试卷页面 -->

                </div>
                <!--=== /Page Content ===-->
            </div>
            <!-- /.container -->
        </div>
    </div>
    
	<script type="text/javascript">
	
		var activePage = "test_info";
	
	    $(document).ready(function() {
	    	if($.cookie("test_questionset") != null) {
				$("test_questionSet").val($.cookie("test_questionset").split(",")[1]);
			}
            //初始化下拉选择菜单
            $("#test_type").select2({'width':"690px"});
            $("#test_status").select2({'width':"690px"});
            
            $("#startTime").datetimepicker({
            	changeMonth: true,
            	lang:'ch',
                dateFormat: "yy-mm-dd",  //年，月，日格式
            	timeFormat: "HH:mm:ss"  //时，分，秒格式
            });
/*             $("#endTime").datetimepicker({
            	changeYear: false,
            	changeMonth: true,
            	showSecond: true, //显示秒
            	lang:'ch',
            	clearStatus: '清除已选日期',
                dateFormat: "yy-mm-dd",  //年，月，日格式
            	timeFormat: "HH:mm:ss",  //时，分，秒格式
            	timeText: '时间',
                hourText: '小时',
                minuteText: '分钟',
                secondText: '秒',
                currentText: '现在时间',
                closeText: '关闭'
               	hourGrid: 3,
         	   	minuteGrid: 10 
            }); */
            
            /*获取时间 alert($("#endTime").datetimepicker('getDate')); */
            /*设置时间 $("#endTime").datetimepicker('setDate', (new Date()) ); */
            
            var questionSetTable = $("#paperList");
			questionSetTable.bootstrapTable({
				/* onDblClickRow: function(row,$element,field){
					alert(JSON.stringify(row));
				}, */
				url: "/learnease/questionset/findAllQuestionSet.action",
				method:'GET',
				sortOrder: 'desc',
			    dataType:'json',
			    contentType: "application/json",
			    striped: true,   //是否显示行间隔色
			    singleSelect: false,
			    cache: false,
			    search: true,        //查找输入框
			    showColumns: false,      //True to show the columns drop down list
			    showRefresh: true,    //True to show the refresh button
			    showPaginationSwitch: false,
			    pagination:true,
			    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
			    pageNumber:1,                       //初始化加载第一页，默认第一页
		    	pageSize: 10,                       //每页的记录行数（*）
		   		pageList: [25, 35, 50],        //可供选择的每页的行数（*）
				columns: [{
			        field: 'id',
			        title: '主键',
			        align: 'center',
			        visible: false
			    }, {
			        field: 'name',
			        title: '试卷名称',
			        align: 'center'
			    }, {
			        field: 'author',
			        title: '提交人',
			        align: 'center'
			    },{
			        field: 'status',
			        title: '试卷状态',
			        align: 'center'
			    },{
			        field: 'createDate',
			        title: '提交时间',
			        align: 'center',
			        sortable: true      //是否启用排序
			    },{
			        field: 'operate',
			        title: '操作',
			        align: 'left',
			        events: {
			        	'click .info': function (e, value, row, index) {
				         	//alert('You click like action, row: ' + row.id);
				         	window.open("questionset_info.html?id="+row.id);
				        },
				        'click .select': function (e, value, row, index) {
				         	$.cookie("test_questionset",row.id+","+row.name);
				         	$("#test_questionSet").val(row.name);
				         	selectQuestionSet('test_info');
				        }
			        },
			        formatter: operateFormatter
			    }]
			});
			function operateFormatter(value, row, index) {
		        return [
		            /* '<a class="info" href="javascript:void(0)" title="Info">',
		            '<i class="glyphicon glyphicon-info-sign"></i>',
		            '</a>  ',
		            '<a class="remove" href="javascript:void(0)" title="Remove">',
		            '<i class="glyphicon glyphicon-remove"></i>',
		            '</a>' */
		            '<button type="button" class="btn btn-primary btn-sm info">详情</button>&nbsp;',
		            '<button type="button" class="btn btn-primary btn-sm select">选定</button>'
		        ].join('');       //数组转成字符串
		    }
	    });
	    
	    function selectQuestionSet(param) {
	    	$("."+activePage).hide();
	    	activePage = param;
	    	$("."+param).show(1000);
	    }
	    
	    function save() {
	    	//alert($("#endTime").val()>$("#startTime").val());
	    	//alert($.cookie("test_questionset").split(",")[0]);
	    	var name = $.trim($("#test_name").val());
	    	var description = $.trim($("#test_description").val());
	    	var startTime = $.trim($("#startTime").val());
	    	var limitTime = $.trim($("#limitTime").val());
	    	var testType = $("#test_type").val();
	    	var testStatus = $("#test_status").val();
	    	var studentIds = "";
	    	var questionSet_id = $.cookie("test_questionset").split(",")[0];
	    	if(name == "") {
	    		alert("考试名称不能为空");
	    		return;
	    	}
	    	if(description == "") {
	    		alert("描述不能为空");
	    		return;
	    	}
	    	if(startTime == "") {
	    		alert("请设置考试开始时间");
	    		return;
	    	}
	    	var z = /^\d+$/;
	    	if(!z.test(limitTime)) {
	    		alert("考试时间必须填整数");
	    		return;
	    	}
	    	if(questionSet_id == "") {
	    		alert("请选择试卷");
	    		return;
	    	}
	    	if(testType == "") {
	    		alert("请选择考试类型");
	    		return;
	    	}
	    	if(testStatus == "") {
	    		alert("请选择考试状态");
	    		return;
	    	}
	    	$.ajax({
	    		url: "/learnease/test/save.action",
	    		dataType: "text",
	    		type: "get",
	    		async: false,
	    		data: {
	    			"name": name,
	    			"description": description,
	    			"startTime": startTime,
	    			"limitTime": limitTime,
	    			"testType": testType,
	    			"testStatus": testStatus,
	    			"studentIds": studentIds,
	    			"questionSet_id": questionSet_id
	    		},
	    		success: function(result) {
	    			alert(result);
	    		},
	    		error: function() {
	    			alert("error");
	    		} 
	    	});
	    }
	</script>
</body>
</html>